<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!-- Phone build is not a Leanback app -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false"
        tools:node="remove" />

    <application>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Do not lock orientation here. Android 8.0 throws
             "Only fullscreen opaque activities can request orientation"
             from Activity.onCreate when targetSdk is 26+ and the manifest
             requests a fixed orientation, which closed the phone app as soon
             as play started. PlayerActivity locks landscape after super.onCreate. -->
        <activity
            android:name=".ui.player.PlayerActivity"
            tools:remove="android:screenOrientation" />

        <activity
            android:name=".ui.player.SplitPlayerActivity"
            tools:node="remove" />
    </application>
</manifest>
